<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Language To-Study List</title>

		<link type="text/css" rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="assets/css/language_style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
